{% extends 'header.html' %}

{% load static %}

{% block title %} Index {% endblock %}


{% block Main %}
<main>
    <div class="SocialLink">
        <br>
        <a href="https://www.linkedin.com/in/md-shais-akhtar?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-linkedin-square icons" style="font-size: 40px;" >
        </i> <br></a>
        <a href="https://x.com/i/flow/login?redirect_after_login=%2FMdShaisAkhtar07"><i class="fa fa-twitter-square icons" style="font-size:40px;"></i></br>
          </a>
        <a href="#">  <i class="fa fa-github icons" style="font-size:40px;"></i></a>
    </div>
        <div class="Description">
            <h1 class="mainHeading">HY, I Am M<span class="span1">d Shais</span>
                 Akhtar</h1>
                 <p class="Intro">A computer science engineering student graduated in
                  [2024] <br>and  A Backend focused Web Developer buliding Web<br>
                  Application using modern technology.</br>
                   <br>
                 <a href="#"> <button id="btn1" class="btn1">Project</button></a>
                  <a href="{% static  'Image/CV.pdf' %}" target="_blank"><button id="btn2" class="btn1">Resume</button></a>
            </div> 
            
</main>
<div class="container About">
  <div class="row">
      <div class="col-12 col-sm-6 AboutImage">
          <img src="{% static 'Image/Profile1.jpg' %}"  class=" image-fluid" alt="AboutImage">
          </div>
          <div class="col-12 col-sm-6  AboutContent">
              <h2>About Me</h2>
              <br>             
               <p>
                  Hey there! I'm <span style="color:#ff004f;">Md Shais Akhtar</span>. A computer science engineer graduate 
                  in [2024] ans a Backend end focus Web Developer building Web Application using modern
                  technology. I'm diving deep into the world of technology. With the years of experience 
                  in Web Devplopment, especially with the <span style="color:#ff004f;">Python and django</span>.
  
                  </br>
                  When i am not coding. you'll find me playing cricket with friends,  reading 
                  books and binge-watching web-series and movies. 
               
              </p>
              <a href="{% url 'about' %}"> <button id="btn3">More</button></a>
              </div>
      </div>
  </div>


  <!--  Skill --->
  <div class="container" style="margin-top:20px;">
    <div class="row">
      <div class="col-12 col-sm-6 skill">
        <h4 >Skills</h4>
        <div id="myProgress" class="myProgress">
         <div id="myBar" class="myBarBackend">Python/Django</div>
        </div> 

        <div id="myProgress1" class="myProgress">
          <div id="myBar1" class="myBar">Html</div>
        </div>

        <div id="myProgress3" class="myProgress">
          <div id="myBar3" class="myBarBackend">CSS</div>
         </div>

         <div id="myProgress4" class="myProgress">
          <div id="myBar4" class="myBar">JavaScript</div>
         </div>

         <div id="myProgress5" class="myProgress">
          <div id="myBar5" class="myBarBackend">React</div>
         </div>

         <div id="myProgress6" class="myProgress">
          <div id="myBar6" class="myBar">CPP</div>
         </div>

         <div id="myProgress7" class="myProgress">
          <div id="myBar7" class="myBarBackend">Linux</div>
         </div>
      </div>

      <!--- Education -->
        <div class="col-12 col-sm-6 education">
          <h4 >Education</h4>

          <h5>Btech in Computer Science and engineering</h5>
          <p>Institute of engineering & management . July 2024</p>

          <div class="verticle"></div>
          <h5>Diploa in Computer Science and engineering</h5>
          <p>Jamia Millia Islamia . Aug 2019</p>
          <div class="verticle"></div>
          <h5>High School</h5>
          <p>Hansraj Public Schoop . May 2016</p>
          
          
      </div>
    </div>
<!--- My Work/ Project --->
    <div class="container Project">
      <div class="row">
        <h2>Projects</h2>

        <div class="col-sm-6 col-md-5 col-lg-3 col-10 ProjectDes">
          <img class="img-fluid" src="{% static 'Image/ProjectImg/PortFolio.png' %}" >
          <h5>Portfolio</h5>
          <p> A personal Portfolio site.
          </p>
          <p><span> Technology Used: </span> Django, Html/Css, Js, SqLite</p>
          <a href="{% url 'about' %}"> <button  class="btnLive">Live Demo</button></a>
          <a href="{% url 'about' %}"> <button  class="btnCode">< /code/ ></button></a>
        </div>

           <div class="col-sm-6 col-md-5 col-lg-3 col-10 ProjectDes">
            <img class="img-fluid" src="{% static 'Image/ProjectImg/BooklyProject.png' %}" >
            <h5>Bookly A Book Store</h5>
            <p>In this application user can buy and sell there pre owned Book
              on affordable price.  
            </p>
            <p><span> Technology Used: </span> Django, Html/Css,Bootstrap, Js, Mysql</p>
            <a href="{% url 'about' %}"> <button  class="btnLive">Live Demo</button></a>
            <a href="{% url 'about' %}"> <button  class="btnCode">< /code/ ></button></a>
          </div>

           <div class="col-sm-6 col-md-5 col-lg-3 col-10 ProjectDes">
            <img class="img-fluid" src="{% static 'Image/ProjectImg/BlogProject.png' %}" >
            <h5>Personal Blog</h5>
            <p>It's a personal Blog app where i can write My personal Blog 
              Related  to Tech and Travels.
            </p>
            <p><span> Technology Used: </span> Django, Html/Css, Js, Mysql</p>
            <a href="{% url 'about' %}"> <button  class="btnLive">Live Demo</button></a>
            <a href="{% url 'about' %}"> <button  class="btnCode">< /code/ ></button></a>
          </div>
        </div>
      </div>

    <!---- Contact Block -->
    <div class="container">
      <div class="row">
          <div class=" col-md-6  col-sm-8 col-12 ContactForm">
           <i class="fa fa-envelope-o fa-3x"></i><span>   Get In Touch.</span>
              
              <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
  
                  {{ form.as_p }}
                  
                  <button style="margin-left:28%; width:40%; background-color: #ff004f;" class="btn">Submit</button>
                  </form>
              
              </div>
            
              <div class="col-md-6  col-sm-4 col-12 ContactInfo" style="margin-top: 5vw;">
                <a href="#">  <i class="fa fa-envelope fa-2x"></i><span>
                  mdshaisakhter840@gmail.com.</span></a>
                <br>
                <a href="https://www.instagram.com/mdshaisakhtar/">  <i class="fa fa-instagram fa-2x"></i><span>@mdshaisakhtar</span></a>
                <br>
                <a href="https://www.linkedin.com/in/md-shais-akhtar?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">  <i class="fa fa-linkedin fa-2x"></i><span>@MdShaisakhtar07</span></a>
  
                  </div>
                  </div>
          </div>
      
          
          <div class="Footer">
            <p class="Footer_p">&#169 2024, <span style="color:#ff004f">Md Shais Akhtar</span></p> 
          </div>
          
{% endblock %}